.fetch-users {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid rgb(237, 235, 235);
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 1rem;
}

.btn {
  cursor: pointer;
  width: 120px;
  height: 35px;
}

.btn:disabled {
  cursor: default;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select {
  height: 20px;
  margin-top: 10px;
}

.users-card-container {
  padding: 10px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.users-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 1px solid rgb(237, 235, 235);
}

.users-image {
  width: 100px;
  height: 100px;
}

.users-fullname-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  border: 1px solid rgb(237, 235, 235);
}

.pagination_btn-container {
  width: 880px;
  display: flex;
  justify-content: space-between;
}

.pagination_btn-prev {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pagination_btn-next {
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
