.password {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(237, 235, 235);
}

.main {
  display: flex;
  padding: 0 20px;
}
.registration-form {
  position: relative;
  display: inline-block;
}

.fullname-container {
  display: flex;
  flex-direction: column;
}

.input_first-name {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}

.input_last-name {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}

.password-container {
  display: flex;
  flex-direction: column;
}

.password-input-wrapper {
  position: relative;
  display: inline-block;
}

.input_password {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}

.input_password-conf {
  width: 200px;
  height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}

.btn_switching-type-input {
  position: absolute;
  height: 30px;
  top: 0;
  right: 5px;
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
