.product-filter {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-input {
  width: 200px;
}

.products-container {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
}
