.fetch-users {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.users-card-container {
  padding: 10px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.users-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 1px solid rgb(237, 235, 235);
}

.users-fullname-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  border: 1px solid rgb(237, 235, 235);
}

.btn {
  width: 50px;
}
