.accordion {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid rgb(237, 235, 235);
}

.main {
  display: flex;
  gap: 10rem;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  font-size: 15px;
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.section-subtitle {
  display: block;
  width: 300px;
  text-align: center;
}

.hidden {
  display: none;
}
