.multilingualism {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid rgb(237, 235, 235);
}

.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 1rem;
}

.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.select {
  font-size: 18px;
  width: 100px;
  height: 25px;
}
