.tabs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 2px solid rgb(237, 235, 235);
}

.btn-container {
  display: flex;
  padding: 3px;
  background-color: rgb(163, 171, 171);
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.active-btn {
  cursor: pointer;
  font-size: 15px;
  width: 100px;
  height: 30px;
  background-color: rgb(131, 135, 135);
  border: none;
  border-radius: 2px;
}
