.prev-count-value {
  padding: 10px;
}

.counter-container {
  display: flex;
  gap: 1rem;
}

.prev-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
