.saving-taimer {
  padding: 10px;
}

.counter-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 30px;
}

.time-container {
  display: flex;
  flex-direction: column;
}

.btn_timer-controls-container {
  display: flex;
  gap: 0.5rem;
}
